<div>
  <app-navbar></app-navbar>

    <div class="
        container-fluid
        d-flex
        flex-row
        justify-content-between
        align-items-stretch"
        style="margin-top: 54px"
        >
      <div style="display: flex">
          <app-toolbar></app-toolbar>
          <app-toolbarextension></app-toolbarextension>
          <app-toolbar-pages></app-toolbar-pages>
      </div>
      <div style="display: flex; flex: 1">
        <div class="mx-auto">
            <app-fabric-canvas></app-fabric-canvas>
        </div>
      </div>
      <div style="display: flex">
        <app-customizepanel></app-customizepanel>
      </div>
    </div>
</div>
