<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mx">
    <span class="navbar-brand app-title">MOCAPPS</span>
  </div>
</nav>

<div class="container">
  <!-- <h2>Create Mockups with others with ease.</h2> -->
  <div class="row my-5">
    <div class="col-8">
      <div class="billboard">
          <h2>Create mockups with ease</h2>
          <blockquote class="blockquote">
            <p class="mb-0">Blabla text here.</p>
          </blockquote>
      </div>
      
    </div>
    <div class="col-4">
      <div class="card login-box">
        <ngb-tabset justify="justified">
          <ngb-tab title='Login'>
            <ng-template ngbTabContent>
              <div *ngIf="showUserAbortError" class="alert alert-danger" role="alert">Login aborted by user. Please try
                again .</div>

              <form>
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control form-control-user" id="inputEmail"
                    aria-describedby="emailHelp" placeholder="Enter email address">
                </div>

                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control form-control-user" id="inputPassword"
                    placeholder="Password">
                </div>

                <button (click)="login()" [disabled]="!accepted" class="btn btn-primary btn-login">Login</button>
                <div class="form-check mt-4">
                  <input type="checkbox" name="cb_accept" (change)="accepted = !accepted" class="form-check-input">
                  <label for="cb_accept">Ich akzeptiere die Weitergabe der Daten.</label>
                </div>
              </form>

            </ng-template>
          </ngb-tab>
          <ngb-tab title='Register'>
            <ng-template ngbTabContent>
              <form>
                <div class="form-group">
                  <label for="inputFullname">Fullname</label>
                  <input type="text" class="form-control form-control-user" id="inputFullname"
                    placeholder="John Blabla">
                </div>

                <div class="form-group">
                  <label for="inputUsername">Username</label>
                  <input type="text" class="form-control form-control-user" id="inputUsername"
                    aria-describedby="emailHelp" placeholder="Username">
                </div>

                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control form-control-user" id="inputEmail"
                    aria-describedby="emailHelp" placeholder="Enter email address">
                </div>

                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control form-control-user" id="inputPassword"
                    placeholder="Password">
                </div>

                <button (click)="login()" [disabled]="!accepted" class="btn btn-primary btn-login">Register</button>
                <div class="form-check mt-4">
                  <input type="checkbox" name="cb_accept" (change)="accepted = !accepted" class="form-check-input">
                  <label for="cb_accept">Ich akzeptiere die Weitergabe der Daten.</label>
                </div>
              </form>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

</div>