.toolbar {
    width: 60px;
    padding: 8px;
    background-color: #F7F7F9;
}

.toolbar-item {
    height: 44px;
    width: 44px;
    margin-bottom: 8px;
}

.btn-toolbar {
    height: 44px;
    width: 44px;
}

//https://stackoverflow.com/questions/27350693/fixing-a-button-to-the-bottom-of-a-sidebar