.sidebar {
    //background-color: white;
}

.toolbar {
    width: 60px;
    padding: 8px;
    margin-top: 2px;
    background-color: #F7F7F9;
}

.toolbar-item {
    height: 44px;
    width: 44px;
    background-color: darkgrey;
}

//https://stackoverflow.com/questions/27350693/fixing-a-button-to-the-bottom-of-a-sidebar