<div class="toolbar h-100">
  <ul class="navbar-nav sidebar">
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faMousePointer"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faHandPointer"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item" (click)="onAddSquare()">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faSquare"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar" (click)="onAddCircle()">
        <fa-icon [icon]="faCircle"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar" (click)="onAddText()">
        <fa-icon [icon]="faFont"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <!--toggle button for now with js in toolbar-components-->
      <button type="button" data-toggle="toggle" aria-pressed="false" id="drawingModeButton"
        class="btn btn-light btn-toolbar" (click)="onDrawingMode()">
        <fa-icon [icon]="faPaintBrush"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar" (click)="onDelete()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </li>
    <ul class="navbar-nav sidebar toolbar-bottom">
      <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar" id="navPagesButton">
          <fa-icon [icon]="faThLarge" (click)="onPageToggle()"></fa-icon>
        </button>
      </li>
      <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar" id="navGroupsButton">
          <fa-icon [icon]="faLayerGroup" (click)="onGroupToggle()"></fa-icon>
        </button>
      </li>
    </ul>
  </ul>
</div>