.toolbar {
    width: 60px;
    padding: 8px;
    background-color: #F7F7F9;
}

.toolbar-item {
    height: 44px;
    width: 44px;
    margin-bottom: 8px;
}

.toolbar-bottom {
    position: absolute;
    bottom: 0px;
}

.btn-toolbar {
    height: 44px;
    width: 44px;
}
