<div class="toolbar">
  <ul class="navbar-nav sidebar ">
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faMousePointer"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faHandPointer"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
      <button class="btn btn-light btn-toolbar">
        <fa-icon [icon]="faSquare"></fa-icon>
      </button>
    </li>
    <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar">
            <fa-icon [icon]="faCircle"></fa-icon>
          </button>
    </li>
    <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar">
            <fa-icon [icon]="faFont"></fa-icon>
          </button>
    </li>
    <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar">
            <fa-icon [icon]="faThLarge"></fa-icon>
          </button>
    </li>
    <li class="navbar-item toolbar-item">
        <button class="btn btn-light btn-toolbar">
            <fa-icon [icon]="faLayerGroup"></fa-icon>
          </button>
    </li>
  </ul>
</div>