<div 
  (click)="onItemClick()"
  (dblclick)="onEnterEditMode()"
  style="cursor: pointer;
        display: flex; align-items: center; justify-content: space-between">
  <span class="my-auto" *ngIf="!editMode">{{(page.page_name.length > 10) ? ( page.page_name | slice:0:10) + '...' : (page.page_name)}}</span>
  <span class="my-auto" [hidden]="!editMode">
      <input
        id="page_name_edit_input"
          #editInput
          type="text"
          required
          style="width: 120px"
          (keyup.enter)="onLeaveEditMode(editInput.value)"
          (focusout)="onLeaveEditMode(editInput.value)"
          [value]="page.page_name">
  </span>
  <button
    class=
    "btn btn-link"
    (click)="onDeleteClick($event, page)"
  >
    <fa-icon [icon]="faTrashAlt"></fa-icon>
  </button>
</div>