<div  *ngIf="!comment.isCleared"
      class="list-group list-group-item-action"
      style="justify-content: space-between;
              margin-bottom: 8px;">
  <ul *ngFor="let entry of comment.entries; let i = index;">
    <div *ngIf="i>0">
      <hr/>
    </div>
    <div class="container"
        style="display:flex; align-items:start;">
      <ul>
        <div style="font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.25px;
                    line-height: 20px;
                    margin-top: 0;
                    font-family: Arial;">
          <mark>{{entry.author.username }}</mark>
        </div>
        <div class=".text-muted" style="align-self: stretch;">
          {{entry.date | date :'short' }}
        </div>
      </ul>
      <div *ngIf="i==0" class="container">
      <button class="btn btn-success" (click)="onIsCleared()">
      Resolve
      </button>
      </div>
      <div *ngIf="entry.author.email===currentUser.email">
        <div class="display: inline-block;" ngbDropdown>
          <div role="button" class="btn btn-sm" data-toggle="dropdown" ngbDropdownToggle>
             <fa-icon [icon]="faEllipsisV"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu menu">
            <button ngbDropdownItem (click)="entry.isEditing= !entry.isEditing" >
              Change
            </button>

            <button ngbDropdownItem (click)="onDelete(entry)" >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!entry.isEditing">{{entry.message}}</div>
    <div *ngIf="entry.isEditing">
      <form
      novalidate
      #formCommentEntry="ngForm"
      >
        <div class="form-group">
          <input type="textarea"
            id="entryMessage"
            class="form-control"
            name="entryMessage"
            #entryMessage
            [(ngModel)]="entryMessages"
            (keyup.enter)="onChangeSubmit(entry)"
            placeholder="{{entry.message}}"
            >
        </div>
      </form>
    </div>

  </ul>
  <form
  novalidate
  #formNewCommentEntry="ngForm"
  >
    <div class="form-group">
      <input type="textarea"
        id="newEntryMessage"
        class="form-control"
        name="newEntryMessage"
        #newEntryMessage
        [(ngModel)]="newEntry.message"
        placeholder="reply..."
        (keyup.enter)="onCreateEntry()"
        >
    </div>
  </form>
</div>
