<div  *ngIf="!comment.isCleared"
      class="
        list-group 
        list-group-item-action
        comment-thread"
  >
  <ul *ngFor="let entry of comment.entries; let i = index;">
    <div *ngIf="i>0">
      <hr/>
    </div>
    <div class="d-flex justify-content-between">
      <span>
        <span style="font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.25px;
                    line-height: 20px;
                    margin-top: 0;
                    font-family: Arial;">
          <mark>{{entry.author.username }}</mark>
        </span>
        <div class=".text-muted date" style="align-self: stretch;">
          {{entry.date | date :'short' }}
        </div>
      </span>
      <div *ngIf="i==0">
        <button class="btn btn-outline-success" (click)="onIsCleared()">
        Resolve
        </button>
      </div>
  
      <div class=" float-right" ngbDropdown *ngIf="entry.author.email===currentUser.email">
          <div role="button" class="btn btn-sm" data-toggle="dropdown" ngbDropdownToggle>
             <fa-icon [icon]="faEllipsisV"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu">
            <button ngbDropdownItem (click)="entry.isEditing= !entry.isEditing" >
              Edit
            </button>

            <button ngbDropdownItem (click)="onDelete(entry)" >
              Delete
            </button>
          </div>
      </div>
    </div>
    <div *ngIf="!entry.isEditing">{{entry.message}}</div>
    <div *ngIf="entry.isEditing">
      <form
      novalidate
      #formCommentEntry="ngForm"
      >
        <div class="form-group">
          <input type="textarea"
            id="entryMessage"
            class="form-control"
            name="entryMessage"
            #entryMessage
            [(ngModel)]="entryMessages"
            (keyup.enter)="onChangeSubmit(entry)"
            placeholder="{{entry.message}}"
            >
        </div>
      </form>
    </div>

  </ul>
  <div>
    <form
    novalidate
    #formNewCommentEntry="ngForm"
    >
      <div class="form-group">
        <div class="input-group">
            <input type="textarea"
            id="newEntryMessage"
            class="form-control"
            name="newEntryMessage"
            #newEntryMessage
            [(ngModel)]="newEntry.message"
            placeholder="Write your reply"
            (keyup.enter)="onCreateEntry()"
            >
            <button class="btn btn-primary">
              Reply
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
