@import url('https://fonts.googleapis.com/css?family=Nunito:900');

:host {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    @extend .background-color;
}

hr {
    border-top: 4px solid #D8D8D8;
    border-radius: 2px;
    width: 68px;
    margin-left: -15px;
    margin-top: 0px;
}

.background-color {
    background: #F0F1F1;
}

.app-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.welcome-header {
    font-size: 14px;
    color: #373A3C;
}

.welcome-username {
    font-size: 22px;
    color: #373A3C;
    text-align: left;
}

.table-project {
    background-color: white;
}

.table-project > tbody > tr > td {
    vertical-align: middle;
}

.projects h2 {
    font-size: 16px;
    color: #606060;
}

.dropdown-toggle::after{
    display:none;
  }