<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mx">
    <span class="navbar-brand app-title">MOCAPPS</span>
  </div>
</nav>

<div class="container">
  <div class="row my-4">
    <div>
      <span class="welcome-header">Welcome back</span>
      <br>
      <span class="welcome-username">{{info.username}}</span>
    </div>
  </div>
  <hr class="divider"> 
  <div class="row my-4">
    <div class="col p-0">
      <app-create-project-modal></app-create-project-modal>
    </div>
    <!--
    <div class="col p-0">
      <div class="float-right btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="all">All
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="projects">My projects
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="shared">Shared projects
        </label>
      </div>
    </div>
    -->
  </div>
  <!--Projects table-->
  <div class="row projects">
    <h2>My projects</h2>
    <table class="table table-bordered table-project">
      <thead>
        <tr>
          <th scope="col">Project name</th>
          <th scope="col">Users</th>
          <th scope="col">Last edited</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.projectname }}</td>
          <td>{{ project.users | collaborator }}</td>
          <td>
            <div style="display: flex; align-items: center; justify-content: space-between">
              <span>{{ project.lastEdited | date }}</span>
              <span ngbDropdown>
                <button class="btn" ngbDropdownToggle>
                  <fa-icon [icon]="faEllipsisV"></fa-icon>
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="onOpenProject(project)">Open</button>
                  <button ngbDropdownItem (click)="onRenameProject(project)">Rename</button>
                  <button ngbDropdownItem (click)="onDeleteProject(project)">Delete</button>
                  <button ngbDropdownItem (click)="onManageUser(project)">Manage users</button>
                </div>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Shared projects table-->
  <div class="row projects my-2">
    <h2>Invited</h2>
    <table class="table table-bordered table-project">
      <thead>
        <tr>
          <th scope="col">Project name</th>
          <th scope="col">Invited by</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invite of invites">
          <td>
            <span>{{ invite.project.projectname }}</span>
          </td>
          <td>
            <div style="display: flex; align-items: center; justify-content: space-between">
              <span>{{ invite.inviter.name }}</span>
              <span>
                <button 
                  class="btn btn-primary" 
                  (click)="onAcceptInvite(invite)">Accept</button>
                <button 
                  class="btn btn-outline-secondary ml-2" 
                  (click)="onDeclineInvite(invite)">Decline</button>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>