<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mx">
    <span class="navbar-brand app-title">MOCAPPS</span>
  </div>
</nav>

<div class="container">
  <!-- <h2>Create Mockups with others with ease.</h2> -->
  <div class="row my-4">
    <p>
      <span class="welcome-header">Welcome back</span>
      <br>
      <span class="welcome-username">{{user.username}}</span>
    </p>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary">Create new project</button>
    </div>
    <div class="col">
      <div class="float-right btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="all">All
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="projects">My projects
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="shared">Shared projects
        </label>
      </div>
    </div>
  </div>
</div>