 <ng-template>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">User Information</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      novalidate
      #form="ngForm"
    >
      <div class="form-group">
        <label for="user-name">user name</label>
        <input
          type="text"
          id="userName"
          class="form-control"
          name="user-name"
          #inputname
          [(ngModel)]="user.name">
      </div>

      <ng-container *ngIf="showPwdForm">
        <div class="form-group">
          <label for="password">Old Password</label>
          <input type="hidden"
                 class="form-control"
                 id="userPwd"
                 name="password-current"
                 [(ngModel)]="pwd.current" />
        </div>
        <div class="form-group">
          <label for="password">new password</label>
          <input type="hidden"
                 class="form-control"
                 id="pwdNew"
                 name="pwd-new"
                 [(ngModel)]="pwd.new" />
        </div>
        <div class="form-group">
          <label for="password">Confirm new password:</label>
          <input type="hidden"
                 class="form-control"
                 id="pwdNewConfirm"
                 name="pwd-confirm"/>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!showPwdForm" type="button" class="btn btn-outline-secondary" (click)="onPwdClick()">Change Password</button>
    <button *ngIf="showPwdForm" type="button" class="btn btn-primary" (click)="onUpdatePwd(form.value)">Change Password</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onUpdateUserInfo(form.value)">Apply</button>
  </div>
</ng-template>
