
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">User Information</h5>
    <button type="button" ngbAutofocus class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      novalidate
      #form="ngForm"
    >
      <div class="form-group">
        <label for="user-name">user name</label>
        <input
          type="text"
          id="userName"
          class="form-control"
          name="user-name"
          #inputname
          minlength=4
          [(ngModel)]="user.name">
      </div>
      <div class="form-group">
       <input type="password"
        [(ngModel)]="user.password"
        name="pwd" placeholder="Old Password"
        class="form-control"
        required
        #password="ngModel"
         />
       <div *ngIf="password.invalid && (inputname.touched || password.touched)"
        class="alert alert-danger">
         <div *ngIf="password.errors.required">Current Password is required. </div>
       </div>
      </div>
      <div class="form-group">
       <input type="password"
        [(ngModel)]="pwd.pwd"
        name="newPwd" placeholder="New Password"
        class="form-control"
        required
        #newPwd="ngModel"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
       <div *ngIf="newPwd.invalid && (formSubmitted || newPwd.touched)"
        class="alert alert-danger">
         <div *ngIf="newPwd.errors.required"> Password is required. </div>
         <div *ngIf="newPwd.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
       </div>
      </div>

      <div class="form-group">
       <input type="password" [(ngModel)]="pwd.confirmpassword" name="confirmpassword"
       placeholder="Confirm Password"
       class="form-control"
       required #confirmpassword="ngModel"
       pattern="{{ newPwd.value }}" />
       <div *ngIf=" confirmpassword.invalid && (formSubmitted || confirmpassword.touched)" class="alert alert-danger">
         <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
         <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
       </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-outline-secondary" (click)="activeModal.close('Cancel')">Cancel</button>

    <button type="button" [disabled]="password.invalid || (confirmpassword.invalid && confirmpassword.touched) || (newPwd.invalid && newPwd.touched)"
            class="btn btn-primary" (click)="onUpdateUserInfo()">Apply</button>
  </div>
