.navbar {
    background: #F7F7F9;
}

.navbar-online-users {
    font-size: 16px;
    font-weight: 100;
    color: #373A3C;
}

.navbar-username {
    font-size: 16px;
    color: #373A3C;
}

.user-circle {
    font-size: 12px;
    padding: 6px;
    color: white;
    background: #1888A3;
    border-radius: 50%;
    text-align: center;
}
