<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <div class="w-100 order-0">
    <div class="navbar-item ml-3 my-auto menu" ngbDropdown>
      <button class="btn btn-light" data-toggle="dropdown" ngbDropdownToggle>
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenu menu">
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">File</button>
          <ul class="dropdown-menu">
              <!--<button class="btn btn-light menubtn" disabled>New Project</button>-->
              <button class="btn btn-light menubtn" (click)="onNewPage()">New Page</button>
              <li role="separator" class="divider"></li>
              <label for="file-upload" class="btn btn-light menubtn">
                Import Image/SVG...
              </label>
              <input id="file-upload" type="file" (change)="onImportSVG($event)" accept=".png,.jpg,.jpeg,.bmp,.svg,image/png,image/gif,image/jpeg,image/bmp,/image/svg"/>
                <li class="dropdown-submenu">
                <button class="btn btn-light menubtn">Export</button>
                <ul class="dropdown-menu">
                  <!-- <button class="btn btn-light menubtn" (click)="onExportToJSON()" [disabled]="!activePage">Export to JSON</button> -->
                  <button class="btn btn-light menubtn" (click)="onExportToJPEG()" [disabled]="!activePage">Export to JPEG</button>
                  <button class="btn btn-light menubtn" (click)="onExportToPNG()" [disabled]="!activePage">Export to PNG</button>
                  <button class="btn btn-light menubtn" (click)="onExportToPDF()" [disabled]="!activePage">Export to PDF</button>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onSaveVersion()">Save Version</button>
              <button class="btn btn-light menubtn" (click)="onLoadVersion()">Load Version</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onAllProjects()">All Projects</button>
            </ul>
         </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Edit</button>
          <ul class="dropdown-menu">
              <button [disabled]="undoDisabled" class="btn btn-light menubtn" (click)="onUndo()" disabled>Undo</button>
              <button [disabled]="redoDisabled" class="btn btn-light menubtn" (click)="onRedo()" disabled>Redo</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onCut()">Cut</button>
              <button class="btn btn-light menubtn" (click)="onCopy()">Copy</button>
              <button class="btn btn-light menubtn" (click)="onPaste()">Paste</button>
              <button class="btn btn-light menubtn" (click)="onDuplicate()">Duplicate</button>
              <button class="btn btn-light menubtn" (click)="onDelete()">Delete</button>
            </ul>
          </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Object</button>
          <ul class="dropdown-menu">
              <button class="btn btn-light menubtn" (click)="onBringToFront()">Bring to Front</button>
              <button class="btn btn-light menubtn" (click)="onBringForward()">Bring Forward</button>
              <button class="btn btn-light menubtn" (click)="onSendBackwards()">Send Backwards</button>
              <button class="btn btn-light menubtn" (click)="onSendToBack()">Send to Back</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onGroup()">Group</button>
              <button class="btn btn-light menubtn" (click)="onUngroup()">Ungroup</button>
            </ul>
          </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Workspace</button>
          <ul class="dropdown-menu">
              <button class="btn btn-light menubtn" *ngIf="!showRuler; else hideRulers" (click)="onShowRuler()">View Rulers</button>
              <ng-template #hideRulers>
                <button class="btn btn-light menubtn" (click)="onHideRuler()">Hide Rulers</button>
              </ng-template>
              <button class="btn btn-light menubtn" (click)="onViewGrid()">
                  <fa-icon [icon]="faCheck" *ngIf="grid"></fa-icon> View Grid</button>
              <button class="btn btn-light menubtn" [disabled]="!grid" (click)="onSnapToGrid()">
                  <fa-icon [icon]="faCheck" *ngIf="snapToGrid"></fa-icon> Snap to Grid</button>

            </ul>
          </li>
        <button ngbDropdownItem disabled>Help</button>
      </div>
    </div>
    <button [disabled]="undoDisabled" class="btn btn-light ml-5" (click)="onUndo()" disabled>
      <fa-icon [icon]="faUndo"></fa-icon>
    </button>
    <button [disabled]="redoDisabled" class="btn btn-light ml-1" (click)="onRedo()" disabled>
      <fa-icon [icon]="faRedo"></fa-icon>
    </button>
        <fa-icon [icon]="faCommentAlt"></fa-icon>
        <span class="ml-2 navbar-button-text">Comments</span>
    </button>
  </div>

  <div class="mx-auto order-0">
    <span class="navbar-brand project-title" (click)="onRenameProjectName()" ngbTooltip="Click to rename">{{(project || {}).projectname}}</span>
  </div>

  <div class="navbar-collapse w-100 order-3 ">
    <ul class="navbar-nav ml-auto">
<!--         <span class="my-auto user-circle ml-1 inv-circle" placement="bottom" ngbTooltip="Invite user" (click)="onManageUser()">+</span>
      <li class="navbar-item my-auto">
        <span *ngFor="let user of (project ? project : {}).users">
          <span class="user-circle ml-1" placement="bottom" ngbTooltip="{{user.username}}">{{user | usercircle}}</span>
        </span>
      </li>
 -->
      <li>
        <button class="btn btn-light mr-3 navbar-button-text" (click)="onManageUser()">Invite users</button>
      </li>

      <!--<li class="navbar-item navbar-online-users ml-3 mr-3 my-auto">{{users.length}} Person online</li>-->
      <span class="my-auto">|</span>
      <li class="navbar-item ml-3 my-auto" ngbDropdown>
        <button class="btn btn-light navbar-username dropdown-toggle" ngbDropdownToggle>{{info.username}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)='onEditProfile()'>Edit profile</button>
          <button ngbDropdownItem (click)="onLogout()">Sign out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
