<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="w-100 order-0">
    <div class="navbar-item ml-3 my-auto menu" ngbDropdown>
      <button class="btn btn-light" data-toggle="dropdown" ngbDropdownToggle>
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenu menu">
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">File</button>
          <ul class="dropdown-menu">
            <button class="btn btn-light menubtn" disabled>New Project</button>
              <button class="btn btn-light menubtn" disabled>New Page</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" disabled>Import SVG...</button>
              <button class="btn btn-light menubtn" disabled>Export to PNG...</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onSaveVersion()">Save Version...</button>
              <button class="btn btn-light menubtn" disabled>Load Version...</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onAllProjects()">All Projects</button>
            </ul>
         </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Edit</button>
          <ul class="dropdown-menu">
              <button [disabled]="undoDisabled" class="btn btn-light menubtn" (click)="onUndo()" disabled>Undo</button>
              <button [disabled]="redoDisabled" class="btn btn-light menubtn" (click)="onRedo()" disabled>Redo</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onCut()">Cut</button>
              <button class="btn btn-light menubtn" (click)="onCopy()">Copy</button>
              <button class="btn btn-light menubtn" (click)="onPaste()">Paste</button>
              <button class="btn btn-light menubtn" (click)="onDuplicate()">Duplicate</button>
              <button class="btn btn-light menubtn" (click)="onDelete()">Delete</button>
            </ul>
          </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Object</button>
          <ul class="dropdown-menu">
              <button class="btn btn-light menubtn" (click)="onBringToFront()">Bring to Front</button>
              <button class="btn btn-light menubtn" (click)="onBringForward()">Bring Forward</button>
              <button class="btn btn-light menubtn" (click)="onSendBackwards()">Send Backwards</button>
              <button class="btn btn-light menubtn" (click)="onSendToBack()">Send to Back</button>
              <li role="separator" class="divider"></li>
              <button class="btn btn-light menubtn" (click)="onGroup()">Group</button>
              <button class="btn btn-light menubtn" (click)="onUngroup()">Ungroup</button>
            </ul>
          </li>
        <li class="dropdown-submenu">
          <button class="dropdown-item dropdown-toggle menucursor">Workspace</button>
          <ul class="dropdown-menu">
              <button class="btn btn-light menubtn" disabled>View Rulers</button>
              <button class="btn btn-light menubtn" (click)="onViewGrid()">
                  <fa-icon [icon]="faCheck" *ngIf="grid"></fa-icon> View Grid</button>
              <button class="btn btn-light menubtn" [disabled]="!grid" (click)="onSnapToGrid()">
                  <fa-icon [icon]="faCheck" *ngIf="snapToGrid"></fa-icon> Snap to Grid</button>
            </ul>
          </li>
        <button ngbDropdownItem disabled>Help</button>
      </div>
    </div>
    <button [disabled]="undoDisabled" class="btn btn-light ml-5" (click)="onUndo()" disabled>
      <fa-icon [icon]="faUndo"></fa-icon>
    </button>
    <button [disabled]="redoDisabled" class="btn btn-light ml-1" (click)="onRedo()" disabled>
      <fa-icon [icon]="faRedo"></fa-icon>
    </button>
    <button class="btn btn-light ml-4" disabled>
        <fa-icon [icon]="faCommentAlt"></fa-icon>
        <span class="ml-2 navbar-btn-text">Add Comment</span>
    </button>
  </div>

  <div class="mx-auto order-0">
    <span class="navbar-brand">{{(project || {}).projectname}}</span>
  </div>

  <div class="navbar-collapse w-100 order-3 ">
    <ul class="navbar-nav ml-auto">
        <span class="my-auto user-circle ml-1 inv-circle" placement="bottom" ngbTooltip="invite user">+</span>
      <li class="navbar-item my-auto">
        <span *ngFor="let user of users">
          <span class="user-circle ml-1" placement="bottom" ngbTooltip="{{user.name}}">{{user.initials}}</span>
        </span>
      </li>

      <li class="navbar-item navbar-online-users ml-3 mr-3 my-auto">{{users.length}} Person online</li>
      <span class="my-auto">|</span>
      <li class="navbar-item ml-3 my-auto" ngbDropdown>
        <button class="btn btn-light navbar-username dropdown-toggle" ngbDropdownToggle>{{info.username}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)='onEditProfile()'>Edit profile</button>
          <button ngbDropdownItem (click)="onLogout()">Sign out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
