.navbar {
    background: #F7F7F9;
}

.navbar-online-users {
    font-size: 14px;
    font-weight: 300;
    color: #373A3C;
}

.navbar-username {
    font-size: 14px;
    font-weight: 500;
    color: #373A3C;
}

.navbar-btn-text {
    font-size: 14px;
    color: #373A3C;
}

.navbar-brand {
    font-size: 14px;
    color: #373A3C;
}

/*
*https://stackoverflow.com/questions/34310271/css-place-in-circle-first-letter-of-the-name
*/
.user-circle {
    font-size: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: white;
    background: #1888A3;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.inv-circle {
    font-size: 20px;
    color: black;
    background: #f8f9fa;
    border: 2px solid #373A3C;
    line-height: 20px;
    //cursor: pointer;
}

.btn-profile {
    cursor: pointer;
}

.project-title {
    cursor: pointer;
}

/**
 *  navbar with left-center-right split
 *  https://stackoverflow.com/questions/33867603/center-an-element-in-bootstrap-4-navbar
 **/

.menu {
    display:inline;
}

/* hide arrow on hover */
.menu > .dropdown-toggle::after {
    display:none;
}

.menubtn {
    display: block;
    width: 100%;
    text-align: left;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #747474;
}

.dropdown-menu {
    background: #F7F7F9;
}

// hide arrow in submenu
.dropdown-submenu > .dropdown-toggle::after {
    display:none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
    margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.menucursor {
    cursor: default;
}