<div class="toolbarextension" id="toolbarextension" *ngIf="showComponent">
  <label id="extToolbarTitle">extended toolbar</label>
  <div id="extToolbarContent" class="referenceElement">

      <span *ngFor="let category of categories">
          <button class="btn" (click)="loadCategory(category)">
            <fa-icon *ngIf="activeCategory != category" [icon]="faFolder"></fa-icon>
            <fa-icon *ngIf="activeCategory == category" [icon]="faFolderOpen"></fa-icon>
            {{category}}
          </button>
        </span>

    <span *ngFor="let elem of draggableElements">
      <div [dndDraggable]="elem.data" 
          [dndEffectAllowed]="elem.effectAllowed"
          (dndStart)="onDragStart($event)"
          (dndEnd)="onDragEnd($event)">
        {{elem.name}}
        <!--optionalchild element used as preview when dragging-->
        <div dndDragImageRef class="elementImage">
          <img src="{{elem.previewimage}}" class="referenceImage">
        </div>
      </div>
    </span>
  </div>
</div>