.toolbarextension {
    width: 15em;
    background-color: #F1F1F1;
    //border-left: 1px solid #CACACA;
    position: fixed;
    left: 60px;
    bottom: 0px;
    top: 55px;
    z-index: 1;
    overflow-y:auto;
    overflow-x:hidden;
}

.extensionhidden {
    display: none;
}

.elementImage {
    width: 90%;
}

.referenceImage {
    width: 100%;
}