.customizepanel {
    width: 2em;
    background-color: #F7F7F9;
    height: 100%;
    line-height: 100%;
    text-align: left;
}

.paneltoggle {
    display: inline;
    text-align: left;
}

.paneltoggle > btn {
    width: 1em;
}

.showoptions {
    width: 15em;
}
